# Environment Configuration

# Server Settings
PORT=3000

# Database Settings
DB_PATH=foosball.db

# Deployment Settings
IS_NETLIFY=false

# Set to true to connect to Netlify API (used for testing local frontend with Netlify backend)
USE_NETLIFY_API=true
NETLIFY_SITE_URL=https://fascinating-clafoutis-9bdd1b.netlify.app